<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="utf-8" />
		<title>404</title>
		<link rel="stylesheet" href="/404/404.css" />
	</head>
	<body>
		<div id="error404"></div>
	</body>
</html>;
