<!DOCTYPE html>
<html>
	<head>
		<base href="/" />
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="utf-8" />
		<title>VIEWER</title>
        <link rel="stylesheet" href="viewer/style.css" />
	</head>
    <body>
        <canvas id="viewer"></canvas>
    </body>
</html>