<html>
	<head>
		<base href="/" />
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="utf-8" />
		<title>WEBMALL</title>
		<link rel="stylesheet" href="webmall/style.css" />
	</head>
	<body>
		<div id="session" token="{{session.token}}"></div>
		<div id="app"></div>
		<script src="lodash.min.js"></script>
		<script src="jquery.min.js"></script>
		<script src="jquery.textchange.js"></script>
		<script src="polyfills.js"></script>
		<script src="app.base.js"></script>

		<script src="webmall/components/common.js"></script>
		<script src="webmall/components/navigation.js"></script>
		<script src="webmall/components/silk_balance.js"></script>
		<script src="webmall/components/silk_switcher.js"></script>
		<script src="webmall/components/search.js"></script>
		<script src="webmall/components/page.all_items.js"></script>
		<script src="webmall/components/page.reserved.js"></script>
		<script src="webmall/components/page.history.js"></script>
		<script src="webmall/components/layout.js"></script>
		<script src="webmall/app.js"></script>
	</body>
</html>;
