.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.loading .background {
    object-fit: contain;
    position: fixed;
    border-radius: 50%;
    border: 4px solid #000;
}