html {
    overflow-y: hidden;
    scrollbar-face-color: #2F2C27;
    scrollbar-arrow-color: #DFA83C;
    scrollbar-track-color: #1A1815;
    scrollbar-highlight-color: #2F2C27;
    scrollbar-shadow-color: #2F2C27;
    scrollbar-3dlight-color: #2F2C27;
    scrollbar-darkshadow-color: #2F2C27;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    cursor: url("/images/cursor/cursor.cur"), auto;
}

*::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input:focus,
input:active {
    outline: none;
}

a:link {
    color: #CCC1A3;
    text-decoration: none;
}

a:visited {
    color: #CCC1A3;
    text-decoration: none;
}

a:hover {
    color: #CCC1A3;
    text-decoration: underline;
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
}

a:active {
    color: #CCC1A3;
    text-decoration: none;
}

#session {
    display: none;
}

body {
    background: #000;
    overflow: hidden;
}

#app {
    width: 800px;
    height: 569px;
    background-image: url("/images/win_bg.jpg");
    margin: 0 auto;
}

.navbar {
    background: url("/images/header_bg.jpg");
    height: 40px;
}

.title,
.header {
    text-shadow: 0 0 5px #000;
}

.navbar .header {
    width: 190px;
    height: 48px;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
    color: #E8CF9A;
    display: inline-block;
}

.navbar .sections {
    width: 605px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin-left: 3px;
}

.sections .button {
    height: 34px;
    line-height: 30px;
    background: url("/images/gnb_item_bg.gif") no-repeat;
    background-position: top center;
    background-size: cover;
    width: 33%;
    text-align: center;
    color: #DAC68D;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
    margin-left: -1px;
    float: left;
}

.sections .button.active,
.sections .button:hover {
    background-position: bottom center;
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
}

.sections .button:hover {
    opacity: 0.5;
}

.sections .button:hover.active {
    opacity: 1;
    cursor: url("/images/cursor/cursor.cur"), auto !important;
}

.refresh-container {
    text-align: center;
    width: 800px;
    position: absolute;
    z-index: 999;
    bottom: 0;
    padding-bottom: 2px;
}

.refresh:active,
.refresh:visited,
.refresh {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #201D19;
    border: none;
    color: #71684F;
    font-size: 10px;
    cursor: url("/images/cursor/cursor-hover.cur"), auto;
    box-shadow: inset 0 0 8px #000;
    opacity: .8;
}

.aside {
    margin-top: 11px;
    margin-left: 10px;
    width: 175px;
    height: 505px;
    display: inline-block;
}

.aside .box {
    border: 1px solid #71684F;
    margin-bottom: 10px;
}

.aside .box .title {
    border-bottom: 1px solid #7B715F;
    background-color: #6B6251;
    color: #D6CCBA;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.aside .box .body {
    padding: 8px;
    border-bottom: 1px solid #3C3730;
    background-color: #322D28;
}

.aside .box .values {
    font-size: 12px;
    padding: 3px 5px;
}


.aside .box .footer {
    background-color: #2B2622;
    text-align: center;
    padding: 5px 0 5px 5px;
}

.aside .box .values div {
    display: inline-block;
}

.aside .box .values div.label {
    font-weight: bold;
    color: #BE8935;
    font-size: 10px;
}

.aside .box .values div.value {
    color: #CCC1A3;
}


.aside .box .values img {
    position: relative;
    top: 2px;
}

.aside .body.select-silk {
    padding: 10px;
    color: #CCC1A3;
    font-weight: bold;
    font-size: 14px;
}

.aside .body.select-silk label {
    line-height: 22px;
    display: block;
}


.aside .body.select-silk img {
    position: relative;
    top: 2px;
}

.charge-button {
    display: block;
    min-height: 22px;
    background: url('/images/buyitemguide_btn_bg.gif') no-repeat center center;
    color: #292520;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
}

.charge-button:hover {
    text-decoration: none;
    opacity: .8;
    color: #fcfcfc;
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
}

.content {
    width: 596px;
    height: 506px;
    top: 40px;
    vertical-align: top;
    color: #fff;
    display: inline-block;
    margin-left: 8px;
}

.tabs {
    width: 100%;
    margin-top: 10px;
    z-index: 999;
}

.tab {
    border-top: 1px solid transparent;
    display: inline-block;
    padding: 6px 10px 6px;
    font-size: 12px;

    color: #8C7C63;
}

.tab:hover {
    color: #FFEBD1;
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
}


.tab:not(:first-child) {
    background: url('/images/category_sepr.gif') no-repeat -14px 9px;
}

.tab.active {
    border-top: 1px solid #71684F;
    border-right: 1px solid #71684F;
    border-left: 1px solid #71684F;
    background: #201D19;
    color: #FFEBD1;
    margin-right: -1px;
}

.alert {
    margin-bottom: 10px;
    border: 1px solid #2A2722;
    padding: 10px;
    margin-right: 12px;
}

.alert img {
    width: 30px;
    height: 30px;
}

.categories {
    margin-top: -5px;
    /* hacks */
    height: 455px;
    color: #71684F;
    white-space: pre-wrap;
    overflow: auto;
    background: #201D19;
    border: 1px solid #71684F;
    padding: 0 10px;
    padding-top: 10px;
}

.categories .header {
    padding: 5px 10px;
    background: url("/images/content_tit_bg.gif") no-repeat top left;
    height: 21px;
    padding-left: 28px;
    line-height: 21px;
    font-size: 12px;
    color: #C8BCA5;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: url("/images/cursor/cursor-hover.cur"), auto;
}

.categories .header.active {
    cursor: url("/images/cursor/cursor.cur"), auto !important;
    background: url("/images/content_tit_bg.gif") no-repeat bottom left;
}

.title-container {
    height: 47px;
}

.categories .items {
    vertical-align: top;
    padding-left: 2px;
    margin-right: -20px;
}

.categories .item {
    display: inline-block;
    vertical-align: top;
    width: 156px;
    height: 115px;
    margin: 0 10px 14px 0;
    border: 1px solid #2A2722;
    padding: 15px 10px;
}

.item .special {
    height: 40px;
    margin-top: -125px;
    margin-left: -10px;
    float: left;
}

.categories .item:hover {
    border: 1px solid #71684F;
}


.categories .item:hover .title {
    color: #CCC1A3;
}

.categories .items .title,
.categories .items img {
    vertical-align: top;
    display: inline-block;
    vertical-align: middle;
}

.categories .items .title {
    font-size: 11px;
    max-width: 85px;
    margin-left: 5px;
    max-height: 40px;
    line-break: auto;
}

.categories .items .price-container {
    border-top: 1px dotted #71684F;
}

.item.listing .price-container {
    padding: 10px 0;
}

.item.listing .title-container {
    margin-bottom: 15px;
}

.items .price-container .price {
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
}

.items .price-container .price.silk_own {
    background: url("/images/silk.gif") no-repeat;
}

.items .price-container .price.silk_own_premium {
    background: url("/images/silk_premium.gif") no-repeat;
}

.items .price-container .price.silk_point {
    background: url("/images/mall_silk_icon.gif") no-repeat;
}

.items .buttons-container {
    border-bottom: none !important;
}

.items .buttons-container .purchase {
    vertical-align: top;
    display: inline-block;
    height: 18px;
    margin: 0;
    padding-left: 4px;
    border: 0;
    background: #BE8935 url('/images/btn_ga_bg.gif') no-repeat;
    color: #2B2011;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    width: 135px;
    margin-right: 3px;
    font-weight: bold;
}


.items .buttons-container .cart {
    vertical-align: top;
    display: inline-block;
    height: 18px;
    margin: 0;
    background: #BE8935 url('/images/btn_presel.gif') no-repeat;
    width: 18px;
    border: none;
    line-height: 19px;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
}

.items .buttons-container .cart,
.items .buttons-container .purchase:hover {
    opacity: .6;
    color: #FFEBD1;
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
}

.item-icon {
    width: 45px;
    height: 45px;
    border: 1px solid #71684F;
    box-shadow: 0 0 5px #000;
}

.tooltip {
    display: none;
    position: fixed;
    z-index: 9999;
    padding: 5px;
    border: 1px solid #71684F;
    background: #201D19;
    color: #CCC1A3;
    font-size: 10px;
    max-width: 200px;
}

.tooltip img {
    max-width: 100%;
    margin-bottom: 5px;
}

.tooltip img.hidden {
    display: none;
    margin: none;
}

.tooltip h3 {
    color: #E8CF9A;
}

.tooltip b {
    margin-top: 5px;
    margin-bottom: 3px;
    color: #BE8935;
}

.tooltip span {
    color: #E8CF9A;
}


.notice {
    display: none;
    position: absolute;
    border: 1px solid #71684F;
    color: #BE8935;
    background: #201D19;
    bottom: 40px;
    padding: 10px 10px;
    right: 35px;
    font-size: 12px;
    max-width: 320px;
}

.notice h3 {
    padding-bottom: 5px;
    color: darkolivegreen;
}

.notice img {
    margin-top: 5px;
    width: 100%;
}

.loading {
    max-height: 40px;
    margin-top: 11px;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    color: #6B6251;
    background: #201D19;
    border: 1px solid #6B6251;
    box-shadow: inset 0 0 5px #000;
}

.loading>* {
    display: inline-block;
    vertical-align: middle;
}

.loading img {
    max-width: 40px;
    position: relative;
    left: -6px;
}

.box input[type="text"] {
    margin: 0;
    padding: 4px;
    width: 170px;
    display: block;
    background: #201D19;
    border: 1px solid #BE8935;
    border: none;
    color: #BE8935;
}

.modal {
    position: fixed;
    width: 800px;
    height: 569px;
    z-index: 9999;
    top: 0;
    background: rgba(0, 0, 0, .7);
}

.modal .window {
    display: none;
    border: 1px solid #71684F;
    color: #D6CCBA;
    background: #201D19;
    width: 300px;
    margin: 12% auto;
    border-radius: 4px;
}

.modal .window.small {
    width: 250px;
}

.modal .header {
    background: url("/images/modal_header.png") no-repeat top center;
    color: #D6CCBA;
    height: 44px;
}

.modal .body {
    background: url("/images/modal_body.png") no-repeat bottom center;
    padding-bottom: 15px;
}

.modal .header .title {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    max-width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal .header .close {
    width: 20px;
    height: 20px;
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
    background: url("/images/mall_pre_close_button.png") no-repeat center center;
    text-align: center;
    float: right;
    margin-right: 8px;
    margin-top: 12px;
}

.modal .header .close:hover {
    background: url("/images/mall_pre_close_button_focus.png") no-repeat center center;
}

.modal .header>div {
    display: inline-block;
    vertical-align: top;
}

.modal .items .title-container>div {
    display: inline-block;
    vertical-align: top;
}

.modal .items {
    padding: 5px;
}
.modal .items .preview {
    max-width: 100%;
}

.modal .item {
    padding: 5px;
    border: 1px solid #71684F;
    margin-bottom: 5px;
}

.modal .item .info {
    width: 165px;
    font-size: 12px;
    margin-left: 5px;
}

.modal .item .info>div {
    padding: 5px 0 0;
    border-bottom: none;
}

.modal .price-container>div {
    display: inline-block;
}

.modal .item .info .alt-text {
    color: #BE8935;
}

.modal .x {
    margin-left: 5px;
}

.modal .qty {
    padding-top: 5px;
}

.modal .qty .control {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #BE8935;
    border: none;
    font-weight: bold;
    text-align: center;
}

.modal .qty .control.bad {
    background: darkred;
}

.modal .qty .control:hover {
    cursor: url("/images/cursor/cursor-hover.cur"), auto !important;
    opacity: 0.8;
}

.modal .total {
    color: #BE8935;

    font-weight: bold;
}

.modal .subtotal {
    font-size: 12px;
    padding-bottom: 5px;
}

.modal .items .buttons-container,
.modal .subtotal {
    text-align: center;
}

.modal .totalcost {
    color: #BE8935;
   
}